body {
    font-family: 'Courier New', Courier, monospace;
    color: white; /* White text */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add a shadow to the text */
    background-image: url('/Users/Aleis/BOOTCAMP/Modules/03-ux-bootstrap-module/bootstrap-portfolio/css/images/189281.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000000; /* Lilac background */
}

.navbar {
    background-color: black;
}

.navbar-nav .nav-link:hover {
    color: #dda0dd; /* Plum text on hover */
}

.jumbotron {
    background-color: #9370db; /* Light Lilac jumbotron */
}

.card {
    background-color: #000000; /* Lilac cards */
}

footer {
    background-color: #9370db; /* Dark Lilac footer */
    color: white; /* White text in footer */
}
